.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
#slideshow-container {
    height: 300px; /* Set a specific height */
}
.slide {
  display: none;
}

.active-slide {
  display: block;
}

.slide-img {
  width: 100%;
  height: auto;
}

.slide-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
